.categoryCard {
	background-color: light-dark(
		var(--mantine-color-white),
		var(--mantine-color-dark-6)
	);
}

.searchInput {
	[data-position="right"] {
		width: rem(70);
	}

	background-color: light-dark(
		var(--mantine-color-white),
		var(--mantine-color-dark-6)
	);
	padding: rem(5);
	width: 100%;
	height: var(--input-height-sm);
	max-width: rem(420);
	border-radius: var(--mantine-radius-default);
	border: 1px solid var(--mantine-color-default-border);
}

.placeholder {
	color: var(--mantine-color-placeholder);
	font-size: var(--mantine-font-size-sm);
}
